.main-genome-card{
  font-family: "Helvetica Neue", Helvetica, Arial;
}

/*  Selector to choose reference and sgRNA */
.select-menu{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 15px;
}

.select-menu span {
  margin-left: 10px;
  font-weight: bold;
}

.custom-select{
  background-color: #f9f9f9 !important;
  border : 1px #e4e4e4 solid !important;
}

/*  Tooltip for coordinates*/
.tooltip-coord {
    position: absolute;
    text-align: left;
    width: 220px;
    height: 65px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*  The loader Spinner */
.spinner-grow {
  width: 40 !important;
  height: 40 !important;
}


.axisCircles {
  fill: none;
  stroke: #E8E8E8;
  stroke-width: 1px;
}

.sunburst>path:hover, .genomeCircle>path:hover{
  cursor: pointer;
}

.coordBox {
  margin-bottom: 17px;
  margin-left: 230px;
  padding-left: 5px;
  height: 105px;
  width: 50%;
  overflow: scroll;
  white-space: pre-line;
  line-height: 1.3em;
  border-style: inset;
  border-width: thin;
  border-radius: 8px;
}

#coordBoxHeader{
  color:rgba(239, 71, 111);
  font-weight: bold;
  padding: 11px;
  background-color: white;
  position: absolute;
  border-bottom: 1px solid #9e9e9e99;
}

#coordBoxText{
  padding: 50px 10px 10px 10px;
}


.tooltip-coord>.material-icons {
  font-size: 12px;
}

.help:hover .help-text{
  display: block;
  position: absolute;
  background: #6da7c3b3;
  border-radius: 8px;
  padding: 8px;

}

.help {
  width: 24px;
}

.help-text{
  display: none;
}

.nav-tabs .nav-link.active{
  color: rgba(239, 71, 111) !important;
}

.nav-link{
  color: rgba(79, 93, 117) !important;
}

.nav-link:hover{
  background: rgba(187, 136, 137, 0.3) !important;
  color: rgba(239, 71, 111) !important;
}

.nav-tabs .nav-link.active:hover{
  background: none !important;
}

.svg{
  position: relative;
}
